* {
  margin: 0;
  padding: 0;
}
/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.text-light-gray {
  color: #727272;
}
.btn-primary {
  border-radius: 8px;
  color: #fff;
  font-size: 1.25rem;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  cursor: pointer;
  border: 0;
  margin-top: 20px;
}
.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 50px;
}
/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 100px;
}

.nav-title {
  margin-bottom: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  margin-bottom: 50px;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 700;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner styles */
.banner-content {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}
/* main styles */
main {
  max-width: 1200px;
  margin: 60px auto;
}

/* teams styles */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.teams-content {
  /* padding-right: 70px; */
  padding-left: 70px;
}
.teams-title {
  font-size: 2.5rem;
}
.teams-title .quick-list {
  font-weight: 500;
}
.teams-title .text-features {
  color: #ff900e;
  font-weight: 700;
}

/* features section style */
.features {
  margin-top: 130px;
  display: flex;
  gap: 100px;
}
.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-content .card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
.features-content .text-light-gray {
  margin-top: 20px;
  margin-bottom: 50px;
}
.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #FFF;
  width: 320PX;
}
.ten-years-badge h2{
  font-size: 4rem;
}

/* facts section */
.section-title {
  margin-top: 50px;
}
.facts .facts-description {
  font-weight: 400;
  height: 30px;
  width: 500px;
  margin-bottom: 60px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
}

/* sponsors style */
.sponsors {
  text-align: center;
}
.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.sponsors-text {
  width: 500px;
  margin-left: 370px;
}

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .facts-card-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .teams-title {
    margin-top: 20px;
  }
  .facts .facts-description {
    width: auto;
  }
  .facts-card-container {
    gap: 20px;
  }
  .section-title,
  .facts-description {
    margin-left: 10px;
  }
  .sponsors-img-container {
    width: 165px;
    margin-left: 100px;
  }
  .sponsors-text {
    margin-left: auto;
    width: auto;
  }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .teams-content {
    margin-top: 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
  .section-title,
  .facts-description {
    margin-left: 10px;
  }
  .facts-card-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .sponsors-img-container {
    width: 165px;
    margin-left: 250px;
  }
  .sponsors-text {
    margin-left: auto;
    width: auto;
  }
}
